services:
  # 服务1: 单个 Redis 实例
  redis:
    image: redis:6.2
    container_name: seckill-redis-single
    ports:
      - "6379:6379"
    networks:
      - monitor-net

  rabbitmq:
    image: rabbitmq:3.12-management
    container_name: seckill-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - monitor-net
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_USER:-guest}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASSWORD:-guest}

  # 服务3: Prometheus
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - monitor-net
    # 【新增】为容器添加一条自定义的主机记录
    extra_hosts:
      - "host.docker.internal:host-gateway"

  # 服务4: Grafana
  grafana:
    image: grafana/grafana-oss:latest
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - monitor-net
    depends_on:
      - prometheus

  # 【新增】SkyWalking OAP (数据中心)
  skywalking-oap:
    image: apache/skywalking-oap-server:9.1.0
    container_name: skywalking-oap
    ports:
      - "11800:11800" # 【关键】将 OAP 的数据入口 11800 映射到主机
      - "12800:12800"
    networks:
      - monitor-net # 加入到我们现有的网络中
    environment:
      SW_STORAGE: h2 # 保持简单，使用 H2 内存数据库

  # 【新增】SkyWalking UI (可视化界面)
  skywalking-ui:
    image: apache/skywalking-ui:9.1.0
    container_name: skywalking-ui
    ports:
      - "8082:8080" # 将 UI 映射到主机的 8081 端口
    networks:
      - monitor-net # 加入到我们现有的网络中
    environment:
      # 【关键】告诉 UI 去哪里找 OAP。
      # 注意：这里我们不能用 localhost，因为 UI 在容器里。
      # 我们用服务名 skywalking-oap
      SW_OAP_ADDRESS: http://skywalking-oap:12800
    depends_on:
      - skywalking-oap

  nacos:
    image: nacos/nacos-server:v2.2.3
    container_name: nacos-server
    environment:
      - PREFER_HOST_MODE=hostname
      - MODE=standalone
    # 【还原】删除了所有 MySQL 相关的环境变量
    # 【还原】删除了 network_mode: "host"
    # 【还原】删除了 volumes 挂载
    ports:
      - "8848:8848"
      - "9848:9848"
      - "9849:9849"
    networks:
      - monitor-net
    # 【还原】删除了 extra_hosts
# 定义一个网络，让所有容器可以互相通信
networks:
  monitor-net:
    driver: bridge